body{
    padding-top: 100px;
}
.panel{
    border: 1px solid #eee;
    margin: auto;
    padding: 25px;
    position: relative;
}

.link{
    display: block;
}

.editable-link{
    margin-bottom:5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.field{
    margin-bottom: 5px;
}
.field label{
    width: 100px;
    display: inline-block;
    text-align: right;
    padding-right: 15px;
}

#settings{
    position: absolute;
    top: 15px;
    left: 15px;
}
#manage{
    display: none;
}
#save{
    position: absolute;
    bottom: 15px;
    right: 15px;
}